USE [ogrencinotkayit]
GO
/****** Object:  Table [dbo].[TblKitaplar]    Script Date: 1.02.2026 14:32:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblKitaplar](
	[KitapId] [smallint] IDENTITY(1,1) NOT NULL,
	[KitapAd] [varchar](50) NULL,
	[Yazar] [varchar](30) NULL,
	[Sayfa] [char](4) NULL,
	[Fiyat] [tinyint] NULL,
	[YayinEvi] [varchar](20) NULL,
	[Tur] [tinyint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblStok]    Script Date: 1.02.2026 14:32:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblStok](
	[Adet] [smallint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblTurler]    Script Date: 1.02.2026 14:32:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblTurler](
	[TurId] [tinyint] NOT NULL,
	[TurAd] [varchar](20) NULL,
 CONSTRAINT [PK_TblTurler] PRIMARY KEY CLUSTERED 
(
	[TurId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TblKitaplar] ON 

INSERT [dbo].[TblKitaplar] ([KitapId], [KitapAd], [Yazar], [Sayfa], [Fiyat], [YayinEvi], [Tur]) VALUES (1, N'Beyaz Zambaklar Ülkesinde', N'Grigory Petrov', N'245 ', 8, N'Güneş', 2)
INSERT [dbo].[TblKitaplar] ([KitapId], [KitapAd], [Yazar], [Sayfa], [Fiyat], [YayinEvi], [Tur]) VALUES (2, N'Anadolu Notları', N'Reşat Nuri Güntekin', N'235 ', 9, N'Yıldız', 4)
INSERT [dbo].[TblKitaplar] ([KitapId], [KitapAd], [Yazar], [Sayfa], [Fiyat], [YayinEvi], [Tur]) VALUES (3, N'Müfettiş', N'Gogol', N'145 ', 6, N'Mars', 2)
SET IDENTITY_INSERT [dbo].[TblKitaplar] OFF
GO
INSERT [dbo].[TblStok] ([Adet]) VALUES (7)
GO
INSERT [dbo].[TblTurler] ([TurId], [TurAd]) VALUES (1, N'Hikaye')
INSERT [dbo].[TblTurler] ([TurId], [TurAd]) VALUES (2, N'Roman')
INSERT [dbo].[TblTurler] ([TurId], [TurAd]) VALUES (3, N'Şiir')
GO
ALTER TABLE [dbo].[TblKitaplar]  WITH CHECK ADD  CONSTRAINT [FK_TblKitaplar_TblTurler] FOREIGN KEY([Tur])
REFERENCES [dbo].[TblTurler] ([TurId])
GO
ALTER TABLE [dbo].[TblKitaplar] CHECK CONSTRAINT [FK_TblKitaplar_TblTurler]
GO
